body{
    margin: 0%;
}
nav{
    color: white;
    
}
nav ul{
    
    position: absolute; 
    list-style: none;
    margin-left: 70%;
    padding: 5px 0;
}
nav ul li{
    
   
    display: inline;
    margin: 10px;
}
nav ul li:hover{
    background-color: rgba(0, 0, 255, 0.649);
    padding: 2px 5px;
    color: white;
    
}

header{
    background-image: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,.9)), url(images/eid/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    margin-bottom: 100px;
}
header article{
    color: white;
    margin-left: 10%;
    padding-top: 14%;
    padding-right: 50%;
}
header article h1{
    font-size: 50px;
    text-shadow: 1px 1px 5px orange;
}
header article span{
    color: red;
}
header article p{
    color: rgb(198, 198, 198);
    text-align: justify;
}
header article a{
    color: white;
    text-decoration: none;
    /* background-image: linear-gradient(to left, #f2709c,#ff9472);padding: 10px 30px; */
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 30px tomato;
}
header article a:hover{
    /* background-image: linear-gradient(to left, orange, tomato); */
    background-color: orange;
}

.flexible-container{
    display: flex;
}
.first-article-div{
    width: 50%;
    padding: 10px 20px;
}
.first-article-div span{
    color: red;
}
.first-article-div p{
    color: rgb(136, 136, 136);
    text-align: justify;
}
.first-article-div iframe{
    box-shadow: 10px 10px 50px grey;
    border-radius: 20px;
    width: 500px;
    height: 350px;
}
.first-article{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
#button{
    color:white;
    text-decoration: none;
    /* background-image: linear-gradient(to left, #4b6cb7,#182848); */
    background-color: rgba(0, 139, 139, 0.829);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px grey;
}
#button:hover{
    /* background-image: linear-gradient(to left,#373b44,#4286f4); */
    background-color: rgb(0, 186, 186);
}

.second-article-div{
    width: 50%;
    padding: 10px 20px;
}
.second-article-div img{
    width: 500px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px grey;
}
.second-article{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.second-article-div span{
    color: red;
}
.second-article p{
    color: rgb(136, 136, 136);
    text-align: justify;
}


.third-article-header{
    text-align: center;
    padding: 0 20%;
}
.third-article-header h1{
    font-size: 50px;
    color: crimson;
}
.third-article-header p{
    color: rgb(136, 136, 136);

}
.third-article{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
}
.third-article-div{
    width: 50%; 
}
.third-article-div div{
    background-color:rgba(158, 214, 223, 0.094);
    margin-top: 10%;
    padding: 5% 10%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px gray;
}
.third-article-div div:hover{
    background-color: rgba(100, 148, 237, 0.281);
}
.third-article-div p{
    color:rgb(140, 140, 140);
}
.third-article-div h2{
    color: rgba(38, 0, 255, 0.552);
}
.third-div-1{
    margin-right: 5%;   
}
.hird-div-2{
    margin-left: 5%;
    
}


.feature-photo{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    justify-content: center;
}
.feature-photo div{
    margin: 1%;
    
    
}
.feature-photo div img{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
}




.fourth-article-header{
    text-align: center;
    margin-bottom: 50px;
}
.fourth-article-header h1{
    font-size: 40px;
}
.fourth-article-header p{
    padding: 0 30%;
    color:rgb(140, 140, 140);
}
.fourth-article-header span{
    color: red;
}

.fourth-article{
    justify-content: center;
    margin: 0 15%;
    margin-bottom: 100px;
    
}
.fourth-article div{
    border: 0.1px solid rgba(140, 140, 140, 0.74);
    border-radius: 10px;
    margin: 0 10px;
    width: 100%;
    height: 400px;
}
.fourth-article div:hover{
    background-color: rgba(127, 255, 212, 0.203);
}
.fourth-article p{
    color:rgb(140, 140, 140);
}
.fourth-article div h3,p,a{
    padding: 0 20px;
}
.fourth-article div h3{
    color: blueviolet;
}
.fourth-article div a{
    margin-left: 20px;
}
.fourth-article img{
    border-radius: 10px;
}
.fourth-article img{
    /* width: 300px; */
    height: 150px;
    width: 100%;
}



footer{
    text-align: center;
    color: white;
    background-image: linear-gradient( #9d50bb,#6e48aa);
    padding: 20px 0;
}
footer h3{
    color: rgb(255, 255, 0);
}